
<%# if an event is sent from the events_controller, than display the page %>
<% if @event %>


  <div class="card col-md-9">
    <div class="card-body">
      <h5 class="card-title">Event Title: <%= @event.title %></h5>
      <h6 class="card-subtitle mb-3 text-muted">Date & Time:<%= @event.time.to_formatted_s(:long) %></h6>
      <div class="card-text">
        <p>Address: <%= @event.address %></p>
        <p>Meeting Point: <%= @event.meeting_point %></p>
        <p>Description: <%= simple_format(@event.description) %>
      </div>

      <div class="card-footer">
        <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-success btn-sm" %>
        <%= link_to "Delete event", event_path(@event), method: :delete, class: "btn btn-danger btn-sm ml-2",
        
                    data: {confirm: "You are about to delete this Event. Confirm?"} %>
        <%= link_to "Event Attendance", attendance_path(@event.id), class: "btn btn-success btn-sm ml-2"%>
        <% $current_event= @event.id %>

      </div>

    </div>
  </div>

  <%= link_to "Cancel and go back", events_path, class: "text-decoration-none" %>

    <%#= render 'attendance/attendance', obj: @event.attendances %>

<% end %>
