
<nav class="navbar navbar-expand-lg navbar-light mb-3 p-5 moa-navbar" id="">

  <div class="ml-5">
  <%= link_to "MOA", root_path, class: "text-decoration-none ml-5 display-3 navTitle" %>
  </div>

  <div class="container navbar-right">
    <% if current_member %>
      <%# it will only display the menu options if the member is logged in %>

<!--      <button class="navbar-toggler btn btn-success borda" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        
        
        <%if current_member.access_level == "AD"%>
          <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle btn btn-success mr-3 text-light font-weight-bold" href="#" id="news_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              News
          </a>
            <div class=" dropdown-menu" aria-labelledby="navbarDropdown" >
              <%= link_to "All News", entries_path, class: "dropdown-item"%>
              <%= link_to "Add News", new_entry_path, class: "dropdown-item"%>
             
            </div>
           </li>
        <%end%>
          <!-- Members Drop Down-->
          <%if current_member.access_level == "MA" || current_member.access_level == "AD"%>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle btn btn-success mr-3 text-light font-weight-bold" href="#" id="members_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Members
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "All Members", members_path, class: "dropdown-item"%>
              <%= link_to "Authorization Pending", pending_path, class: "dropdown-item"%>
            
            <%if current_member.access_level == "AD"%>
              <%= link_to "Level Access Management", access_level_path ,class: "dropdown-item", id: "access_level"%>


             <%end%>
            </div>
          </li>
          <%end%>
          <!-- end Members Drop Down-->

          <!-- Events Drop Down-->
          <%if current_member.access_level == "TC" || current_member.access_level == "AD"%>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-success mr-3 text-light font-weight-bold" href="#" id="events_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "All Events", events_path, class: "dropdown-item"%>
              <%= link_to "Create Event", new_event_path, class: "dropdown-item"%>
            </div>
          </li>
          <%end%>
          <!-- end Events Drop Down-->

        <%if current_member.access_level == "AD"%>

          <li class="nav-item" id="leader_board">
              
              <%= link_to "Leader Board", attendances_path , class: "nav-link  btn btn-success mr-3 text-light font-weight-bold"%>
            </a>
          </li>
        <%end%>  
        </ul>

        <!-- right-hand side menu-->
        <ul class="navbar-nav ml-auto">

          <!-- logout -->
          <li class="nav-item">
            <p> Welcome <%=p current_member.first_name%></p> 
            <%= link_to "Logout", destroy_member_session_path, method: :delete, class: "btn mr-3 text-primary " %>
          </li>


        </ul>
        <!-- end right-hand side menu-->


    
    </div>

    <% end %>
  </div>
</nav>
