<!DOCTYPE html>
<html>
  <head>
    <title>MOA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# renders the navbar %>
    <%= render 'layouts/navigation' %>

    <%= render 'layouts/footer' %>

    <div class="container">

      <%# messages will be located on the layouts/_messages.html.erb partial %>
      <%= render 'layouts/messages' %>

      

      <%= yield %>

    </div>




  </body>
</html>
