<%if current_member.access_level=="AD" || current_member.access_level=="MA"%>

<h1>All Members</h1>

<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th scope="col">Membership Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    
    </tr>
  </thead>

  <tbody>

    <% @members.each do |member| %>

      <tr>

        <td>
          <%= member.membership_number %>
        </td>

        <td>
          <%= member.first_name %>
        </td>

        <td>
          <%= member.last_name %>
        </td>

        <td>
          <%= member.email %>
        </td>

        <td>
          <%= link_to "Edit", edit_member_path(member), class: "btn btn-success" %>
        

          <% if member.authorized_for_app %>
         
            <%= link_to "Remove from App", app_removal_path(member), class: "btn btn-danger ml-3" %>
          </td>
          <% end %>
          
        
       
      </tr>

    <% end %>



  </tbody>
</table>
<%else%>
<%= render 'layouts/access_denied'%>

<%end%>